@model AspCuisineN1.Models.Poko.CUtilisateur
@{
    ViewBag.Title = "Inscription";
}

<div class="container">
    <h2>Inscription</h2>
    @using (Html.BeginForm("InscriptionConf", "Account"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Nom)
            @Html.TextBoxFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prenom)
            @Html.TextBoxFor(model => model.Prenom)
            @Html.ValidationMessageFor(model => model.Prenom)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MotDePass)
            @Html.TextBoxFor(model => model.MotDePass)
            @Html.ValidationMessageFor(model => model.MotDePass)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NumTel)
            @Html.TextBoxFor(model => model.NumTel)
            @Html.ValidationMessageFor(model => model.NumTel)
        </div>
        <div class="form-group">
            Client :
            @Html.RadioButtonFor(model => model.Role, "Client")
            <br />
            Cuisinier : 
            @Html.RadioButtonFor(model => model.Role, "Cuisinier")
            <br />
            @Html.ValidationMessageFor(model => model.Role)
        </div>

        <!--
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="role" value="1">Client
            </label>
            <label class="radio-inline">
                <input type="radio" name="role" value="2">Cuisinier
            </label>
            <label class="radio-inline">
                <input type="radio" name="role" value="3">Administrateur
            </label>
        </div>
        -->

        <div class="form-group">
            <input type="submit" value="Creer un compte" />
        </div>
     }
</div>